/*共通*/
.top-container {
    min-height:100vh !important;
    min-width: 100vw !important;
    background-color: #ECC32E;   
    position: relative;
    // border: 10px solid #FFF;
}
/*共通*/

/*タイトル*/
.title-container {
    text-align: center;
    margin: auto;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.text {
    // font-family: 'Syncopate', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: #FEFFFF;
    margin: 30px;
}

.sub-text {
    // font-family: 'Syncopate', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    margin-top: 40px;
    color: #FEFFFF;
}

.next {
    margin-top: 180px;
    font-size: 30px;
    
}
.next:hover {
    color: #47EFD5;
    cursor : pointer;
}

.colorChange1 {
    color: #B912B9;
}

.colorChange2 {
    color: #000E9F;
}

.colorChange3 {
    color: #000000;
}
// @media screen and ( max-width:949px )
@media screen and ( max-width:479px )
{
    .text {
        font-size: 20px;
    }

    .sub-text {
        font-size: 10px;
    }

    .next {
        font-size: 15px;
    }
}
/*タイトル*/

/*プロフィール*/
// @media screen and ( min-width:480px )
@media screen and ( min-width:950px )
{
    .image-container {
        font-family: 'Quicksand', 'Kosugi Maru', sans-serif;
        margin-top: 100px;
        margin-left: 100px;
        text-align: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width:300px;
    }

    .name-text {
        font-family: 'Kosugi Maru', sans-serif;
    }

    .profile-container {
        margin-top: 100px;
        // margin-left: 100px;
        font-family: 'Quicksand', 'Kosugi Maru', sans-serif;
        font-size: 20px;
    }
   
    .opportunity-record {
        margin-top: 50px;
        padding: 10px;
        font-family: "Hiragino Kaku Gothic StdN", 'Quicksand', sans-serif;
        font-size: 50px;
        border: solid;
        border-radius: 0.3em;	
    }
    .opportunity-record:hover {
        color: #FEFFFF;
        cursor : pointer;
    }
   
    .p-margin {
        margin: 10px;
    }

    .h2-margin {
        margin: 50px 0px 10px;
    }

    table {
        margin: 10px;
    }

    td {
        padding: 5px;
    }
}
// @media screen and ( max-width:479px )
@media screen and ( max-width:949px )
{
    .image-container {
        font-family: 'Quicksand', 'Kosugi Maru', sans-serif;
        text-align: center;
    }

    // .container {
    //     display: flex;
    // }

    .start {
        padding-top: 20px;
    }

    img {
        margin-top: 20px;
        width:110px;
    }

    .name-text {
        font-family: 'Kosugi Maru', sans-serif;
    }

    .profile-container {
        font-family: 'Quicksand', 'Kosugi Maru', sans-serif;
        font-size: 10px;
        text-align: center;
    }
   
    .opportunity-record {
        margin: 20px 30px 0px;
        padding: 10px;
        font-family: "Hiragino Kaku Gothic StdN", 'Quicksand', sans-serif;;
        font-size: 15px;
        border: solid;
        border-radius: 0.3em;	
    }
    
    .opportunity-record:hover {
        color: #FEFFFF;
        cursor : pointer;
    }

    .p-margin {
        margin: 10px;

    }

    .h2-margin {
        margin: 20px 0px 10px;
    }

    .table{
        // margin: 0px;
        display: inline-block;
    }

    td {
        padding: 5px;
    }
}
/*プロフィール*/

/*案件実績*/
.opportunity-record-container {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    padding: 20px 140px;
    
    // padding: 20px;
//     height: 400px;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     position: absolute;
}
.opportunity-record-color {
    background-color: #292929;  
}
.canal-description {
    font-family: 'Quicksand', 'Kosugi Maru', sans-serif;
    color: #FEFFFF;
    // width: 1000px;
    // text-align: center
}

.left-columns {
    width: 10%;
    float: left;
}

.other-description{
    text-align: center;
}

hr {
    margin:10px 0px;
}
// @media screen and ( min-width:480px )
@media screen and ( min-width:959px )
{
   .canal-image {
        // float: left;
        margin: 30px;
   }

   .canal-description {
        // float: left;
        margin: 30px;
        // margin-top: 30px;
    }   

    .small-text {
        font-size: 15px;
        margin: 5px 0px;
    }

   .float-clear {
        clear: left;
        // margin: 20px;
    }
    .profile-button{
        text-align: center;
        font-size: 20px;
        margin: 30px auto;
        max-width: 300px;
    }
    .profile-button:hover {
        color: #ECC32E;
        cursor : pointer;
    }
}

// @media screen and ( max-width:479px )
@media screen and ( max-width:949px )
{
    .canal-image {
        text-align: center;
        // margin: 0px;
    }
    
    .canal-description {
        margin-top: 10px;
    }

    .small-text {
        font-size: 10px;
        margin: 5px 0px;
    }
    .float-clear {
        clear: both;
    }
    .profile-button{
        text-align: center;
        margin: 20px auto;
        font-size: 15px;
        max-width: 300px;
    }
    .profile-button:hover {
        color: #ECC32E;
        cursor : pointer;
    }

    hr {
        margin:2px 0px;
    }
}


// div {
//     border: solid 2px #292929;
// }
/*案件実績*/
